doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Trip
        link(rel="stylesheet" href="/style.css")
    body 
        header(class="bordered headersign")
            h1(class="title text")
                a(href="/") Travel Express 
        div(class="bordered form")
            h2(class="text") Register your trip !
            form(action="/trip" method="post")
                table
                    tr 
                        th
                            label(class="text" for="from") From
                        th
                            input(class="bordered text" type="text" id="from" name="from")
                        if errors && errors.from 
                            th(class="text error")= errors.from
                    tr
                        th
                            label(class="text" for="to") To
                        th
                            input(class="bordered text" type="text" id="to" name="to")
                        if errors && errors.to 
                            th(class="text error")= errors.to 
                    tr
                        th
                            label(class="text" for="seats") Number of seats available
                        th
                            input(class="bordered text" type="text" id="seats" name="seats")
                        if errors && errors.seats
                            th(class="text error")= errors.seats
                    tr
                        th 
                            label(class="text" for="time") Time
                        th
                            input(class="bordered text" type="time" id="time" name="time")
                        if errors && errors.time 
                            th(class="text error")= errors.time
                    tr
                        th
                            div Frequency
                        th
                            table 
                                tr 
                                    th 
                                        label(class="text" for="monday") M
                                        input(class="bordered" type="checkbox" id="monday" name="monday")
                                    th 
                                        label(class="text" for="tuesday") T
                                        input(class="bordered" type="checkbox" id="tuesday" name="tuesday")
                                    th 
                                        label(class="text" for="wednesday") W
                                        input(class="bordered" type="checkbox" id="wednesday" name="wednesday")
                                    th 
                                        label(class="text" for="thursday") T
                                        input(class="bordered" type="checkbox" id="thursday" name="thursday")
                                    th 
                                        label(class="text" for="friday") F
                                        input(class="bordered" type="checkbox" id="friday" name="friday")
                                    th 
                                        label(class="text" for="saturday") S
                                        input(class="bordered" type="checkbox" id="saturday" name="saturday")
                                    th 
                                        label(class="text" for="sunday") S
                                        input(class="bordered" type="checkbox" id="sunday" name="sunday")
                        if errors && errors.frequency 
                            th(class="text error")= errors.frequency
                div(class="formbtnblock")
                    input(class="btn bordered formbtn" type="submit" value="Submit")
                    input(class="btn bordered formbtn" type="reset" value="Cancel") 
